<!DOCTYPE html>
<html>
  <head>
    <header id="header" class="header d-flex align-items-center">

        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
          <a href="/" class="logo d-flex align-items-center" style = "text-decoration: none">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <!-- <img src="assets/img/logo.png" alt=""> -->
            <br>
            <h1 style="margin-left: 100px;">RecipeGenius<span>.</span></h1>

          </a>
          <nav id="navbar" class="navbar" style="text-decoration: none;">
            <ul style="text-decoration: none;">
              <li style="margin-left: -300px;" ><a href="/"; style = "padding-top: 30px; margin-left: -10px; text-decoration: none;"; style = "margin-left: 70px;">Home</a></li>
              <li><a href="/logout"; style = "padding-top:30px; text-decoration: none;"; style = "margin-left: 70px;">Logout</a></li>
             
            </ul>
          </nav><!-- .navbar -->

          <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
          <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

        </div>
        <link rel="stylesheet" href="../static/css/navbardash.css">
      </header><!-- End Header -->
      <!-- End Header -->
    <meta charset="UTF-8">
    <title>RecipeGenius Dashboard</title>
    <script></script>
    <link rel="stylesheet" href="../static/css/dashboard.css">
    <!-- Font Awesome CDN link -->
    <script src="https://kit.fontawesome.com/bfaef0e17e.js" crossorigin="anonymous"></script>
    <div class="header">
        <br>
        <h1 style="font-family: 'Montserrat' sans-serif; font-size: 50px;">  Finding the right food for you. </h1>
        <br>
    </div>

  </head>
  <body>
    <br>
    <button class="next-btn" onclick="location.href = '/uploadimage';">
      Next <i class="fas fa-arrow-right"></i>
    </button>
    <div class="kebab" style="margin-top: -200px; z-index: -1000000;">
        <img src="../static/assets/img/dashboardfoods.png" alt="" style="width:100%; height:100%; z-index: -1000000;">
    </div>
  </body>
</html>