<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login to RecipeGenius</title>
    <link rel="stylesheet" href="../static/css/login.css">
      <!-- Favicons -->
  <!-- <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon"> -->

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">


<body>
	<header id="header" class="header d-flex align-items-center">

		<div class="container-fluid container-xl d-flex align-items-center justify-content-between">
		  <a href="/" class="logo d-flex align-items-center">
			<!-- Uncomment the line below if you also wish to use an image logo -->
			<!-- <img src="assets/img/logo.png" alt=""> -->
			<h1 style = "padding-left: 160px; margin-top: 20px">RecipeGenius<span>.</span></h1>
		  </a>
		  <nav id="navbar" class="navbar">
			<ul>
			  <li><a href="/" style = "padding-top: 10px;">Home</a></li>
			  <li><a href="/login" style = "padding-top: 10px;">Login</a></li>
			  <li><a href="/signup" style = "padding-top: 10px;">Sign Up</a></li>
			</ul>
		  </nav><!-- .navbar -->
	
		  <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
		  <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
	
		</div>
		<link rel="stylesheet" href="../static/css/navbar.css">
	  </header><!-- End Header -->
	  <!-- End Header -->
<br>

<div class="container" id="container">
    
	<div class="form-container sign-up-container">
		<form action="#">
			<h1>Create Account</h1>
			<span>or use your email for registration</span>
			<input type="text" placeholder="Name" />
			<input type="email" placeholder="Email" />
			<input type="password" placeholder="Password" />
			<a href="/signup"><button onclick="location.href = '/signup';">Sign Up</button></a>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form action="/loginsubmit" method="post">
			<h1>Log in</h1>
<br>

            <input type="text" id="username" name="username" placeholder="Username" required>

            <input type="password" id="password" name="password" placeholder="Password" required> 

			<a href="#">Forgot your password?</a>
			<button type="submit">Log In</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-right">
				<h1>Don't have an account?</h1>
				<p>Sign up and start creating delicious meals!</p>
				<button class="ghost" id="signUp" onclick="location.href = '/signup';">Sign Up</button>
			</div>
		</div>
	</div>
</div>

<footer>

    <p>&copy; Copyright <strong><span>RecipeGenius</span></strong>. All Rights Reserved</p> 
  </footer><!-- End Footer -->
  
</body>
</html>